#raqn-svg-sprite {
  display: none;
}

raqn-icon {
  display: inline-flex;
  text-align: center;
  font-size: 1.2em;
  line-height: 1;
  width: var(--icon-size, 1.2em);
  height: var(--icon-size, 1.2em);
  justify-content: var(--icon-align, start);
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

raqn-icon svg {
  display: inline-block;
  width: var(--icon-size, 1.2em);
  height: var(--icon-size, 1.2em);
  fill: currentcolor;
  overflow: hidden;
  vertical-align: middle;
}
