raqn-breadcrumbs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  align-items: center;
  padding: 10px 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-inline-end: 1em;
      font-weight: bold;

      a {
        color: var(--scope-color);
        font-weight: normal;
      }
    }
  }
}
