raqn-header {
  --header-background: var(--background, #fff);
  --color: var(--text, #000);
  --top: var(--header-top, 0);

  position: fixed;
  top: var(--top);
  width: 100%;
  min-height: var(--header-height, 110px);
  display: grid;
  background: var(--header-background, #fff);
  align-items: center;
  z-index: 100;
}
