raqn-page-navigation {
  --page-nav-level-padding: 25px;
  --page-nav-active-item-background: transparent;
  --page-nav-active-item-color: var(--highlight);
  --page-nav-item-padding-block: 0px;
  --page-nav-item-padding-inline: 0px;
}

raqn-page-navigation a {
  --a-margin-block: 0.5rem;
  --a-font-size: 1rem;
  --a-font-weight: normal;
  --a-font-style: normal;
  --a-line-height: 1.5;

  display: inline-block;
  padding-inline: var(--page-nav-item-padding-inline);
  padding-block: var(--page-nav-item-padding-inline);
}

raqn-page-navigation a.active {
  --a-font-weight: bold;

  background: var(--page-nav-active-item-background);
  color: var(--page-nav-active-item-color);
}

raqn-page-navigation ul {
  list-style: none;
  padding-inline-start: 0;
}

raqn-page-navigation ul ul {
  padding-inline-start: var(--page-nav-level-padding);
}
