/* block specific CSS goes here */

raqn-hero {
  --raqn-background-color: var(--scope-background, transparent);
  --raqn-color: var(--scope-color, transparent);
  --raqn-grid-template-columns: 0.6fr 0.4fr;

  background-color: var(--raqn-background-color);
  color: var(--raqn-color);
  grid-template-columns: var(--raqn-grid-template-columns, 1fr);
  align-items: center;

  & > div:first-child {
    max-width: 30vw;
  }
}
