/* block specific CSS goes here */

raqn-hero {
  --raqn-background-color: var(--scope-background, transparent);
  --raqn-color: var(--scope-color, transparent);
  --raqn-grid-template-columns: 0.6fr 0.4fr;

  background-color: var(--raqn-background-color);
  color: var(--raqn-color);
  align-items: center;

  @media screen and (max-width: 768px) {
    --raqn-grid-template-columns: 1fr;
  }

  grid-template-columns: var(--raqn-grid-template-columns, 1fr);

  @media screen and (min-width: 768px) {
    & > div:first-child {
      max-width: 30vw;
    }
  }
}
