raqn-grid-item {
  --grid-item-justify: initial;
  --grid-item-align: initial;
  --grid-item-order: initial;

  grid-column: initial;
  grid-row: initial;
  grid-area: initial;
  justify-self: var(--grid-item-justify);
  align-self: var(--grid-item-align);
  order: var(--grid-item-order);
  margin-block-start: var(--grid-item-margin-block-start);
  margin-block-end: var(--grid-item-margin-block-end);
  margin-inline-start: var(--grid-item-margin-inline-start);
  margin-inline-end: var(--grid-item-margin-inline-end);
  padding-block-start: var(--grid-item-padding-block-start);
  padding-block-end: var(--grid-item-padding-block-end);
  padding-inline-start: var(--grid-item-padding-inline-start);
  padding-inline-end: var(--grid-item-padding-inline-end);
}

/* Make grid item sticky */
raqn-grid-item[data-sticky='true' i] {
  position: sticky;
  top: var(--header-height);
}

/* End */

/* Start Make entire item clickable 
 * if the first anchor in the grid item is italic
 */
raqn-grid-item:has(> p:first-child > em:only-child > a:only-child) {
  position: relative;
}

raqn-grid-item:has(> p:first-child > em:only-child > a:only-child) > p:first-child a {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  z-index: 1;
}

/* Make other anchor or buttons in the grid item still accessible */
raqn-grid-item:has(> p:first-child > em:only-child > a:only-child) :where(a, button) {
  position: relative;
  z-index: 2;
}

raqn-grid-item > p:first-child:has(> em:only-child > a:only-child) {
  margin: 0;
}

/* End */

/* Start Remove unwanted spacing from elements inside grid item */
raqn-grid-item > :first-child {
  margin-block-start: 0;
}

raqn-grid-item > :last-child {
  margin-block-end: 0;
}

raqn-grid-item > p:first-child:has(> em:only-child > a:only-child) + * {
  margin-block-start: 0;
}

/* End */
