/* stylelint-disable CssSyntaxError */
raqn-navigation {
  --raqn-navigation-background: var(--scope-background, #fff);
  --raqn-navigation-color: var(--scope-color, #000);
  --raqn-navigation-level-1: var(--raqn-font-size-4, 1.25rem);
  --raqn-navigation-level-2: var(--raqn-font-size-5, 1rem);
  --raqn-navigation-outer-gap: 0;
  --raqn-navigation-step: 100vw;
  --raqn-navigation-column-padding: var(--scope-padding-horizontal, 20px);

  @media screen and (min-width: 1024px) {
  --raqn-navigation-outer-gap: calc((100vw - var(--scope-max-width)) / 2);
  --raqn-navigation-step: calc(var(--scope-max-width) / var(--raqn-navigation-levels, 4));
  }

  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;

  button {
    display: inline-flex;
    justify-self: end;
    align-items: center;
    justify-content: center;
    background-color: var(--scope-background, #fff);
    color: var(--scope-color, #000);
    border: none;
    border-radius: var(--border-radius);
    padding: var(--padding-vertical, 10px) var(--padding-horizontal, 10px);
    transition: background-color 0.2s ease-in-out;
  }

  ul {
    position: fixed;
    list-style: none;
    background-color: var(--scope-background, #fff);
    width: 100vw;
    inset-inline-start: -100%;
    inset-block-start: calc(var(--scope-header-height, 64px) + 1px);
    min-height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    z-index: -1;
    transition: inset-inline-start 0.4s ease-in-out;
    

    li {
      padding-block: 1.2em;
      max-width: var(--scope-max-width, 100%);
      margin: 0 auto;
    }

    &::after {
      content: ' ';
      width: 100%;
      position: absolute;
      height: 100%;
      inset-inline-start: 0;
      inset-block-start: 0;
      background-color: var(--scope-background, #fff);
      z-index: -1;
      border-inline: 1px solid var(--scope-color, #000);
    }
    

    @media screen and (min-width: 1024px) {
      max-width: var(--raqn-navigation-step, 25vw);
    }
  }

  nav > ul {
    padding-inline-start: var(--raqn-navigation-outer-gap);

    .active & {
      inset-inline-start: 0;
    }

    .active > ul {
      transition: inset-inline-start 0.4s ease-in-out;
      padding-inline: var(--raqn-navigation-column-padding);
    }
  }

  .level-1.active > ul {
    @media screen and (min-width: 1024px) {
      inset-inline-start: calc(var(--raqn-navigation-step) + var(--raqn-navigation-outer-gap) );
    }

    transition: inset-inline-start 0.4s ease-in-out;

    &::after {
      z-index: -2;
    }
  }

  .active .level-2.active > ul {
    @media screen and (min-width: 1024px) {
      inset-inline-start: calc((var(--raqn-navigation-step) * 2) + var(--raqn-navigation-outer-gap) + var(--raqn-navigation-column-padding) + 1px);
    }

    transition: inset-inline-start 0.4s ease-in-out;

    &::after {
      z-index: -3;
    }
  }
}