/* stylelint-disable CssSyntaxError */
raqn-navigation {
  --raqn-navigation-background: var(--scope-background, #fff);
  --raqn-navigation-color: var(--scope-color, #000);
  --raqn-navigation-level-1: var(--raqn-font-size-4, 1.25rem);
  --raqn-navigation-level-2: var(--raqn-font-size-5, 1rem);

  margin: var(--scope-margin);
  width: 100%;
  display: grid;
  justify-content: center;
}

raqn-navigation > nav ul,
raqn-navigation > nav p {
  display: none;
  padding: 0;
}

raqn-navigation .level-1 a:not(:hover) {
  color: var(--scope-accent-background, #000);
}

raqn-navigation > nav > ul {
  overflow-y: hidden;
  max-height: calc(100vh - var(--scope-header-height));
}

raqn-navigation.active > nav ul,
raqn-navigation.active > nav p {
  display: block;
}

raqn-navigation.active > nav a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--raqn-navigation-color, #000);
  border-radius: var(--border-radius);
  transition: background 0.2s ease-in-out;
  font-size: var(--raqn-navigation-level-1);
}

raqn-navigation.active > nav .level-2 a {
  font-size: var(--raqn-navigation-level-2);
}

raqn-navigation.active > nav > div {
  display: flex;
}

raqn-navigation > button {
  display: inline-flex;
  justify-self: end;
  align-items: center;
  justify-content: center;
  background: var(--scope-background, #fff);
  color: var(--scope-color, #000);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--padding-vertical, 10px) var(--padding-horizontal, 10px);
  transition: background 0.2s ease-in-out;
}

raqn-navigation.active button {
  background: var(--scope-background-hover, #000);
  color: var(--scope-color-hover, #fff);
}

raqn-navigation.active > nav > ul {
  position: fixed;
  display: block;
  list-style: none;
  max-width: 0;
  background: var(--scope-background, #fff);
  min-width: 100%;
  inset-inline-start: 0;
  inset-block-start: var(--scope-header-height, 64px);
  height: 100%;
  max-height: calc(100vh - var(--scope-header-height, 64px));
  margin: 0 auto;
  padding: 0;
}

raqn-navigation.active > nav > ul li {
  max-width: var(--scope-max-width, 100%);
  margin: 0 auto;
}

raqn-navigation.active > nav > ul li a {
  padding-block: 1.2em;
}

raqn-navigation .accordion-content-wrapper {
  margin: 0;
}

raqn-navigation:not([data-compact='true']) > nav a {
  line-height: var(--scope-icon-size, 24px);
}

raqn-navigation:not([data-compact='true']) > nav ul {
  list-style: none;
  display: flex;
}

raqn-navigation:not([data-compact='true']) > nav > ul {
  inset-inline-start: calc((100vw - var(--scope-max-width)) / 2);
  inset-block-start: var(--scope-header-height, 64px);
}

raqn-navigation:not([data-compact='true']) > nav > p {
  display: inline-flex;
}

raqn-navigation:not([data-compact='true']) > nav [data-icon='chevron-right'] {
  transform: rotate(90deg);
}

raqn-navigation:not([data-compact='true']) > nav .level-1 a {
  padding: var(--scope-padding-vertical, 10px) var(--scope-padding-horizontal, 20px);
}

raqn-navigation:not([data-compact='true']) > nav .level-2 > a {
  color: var(--scope-link-color-hover);
  font-size: 1.2em;
}

raqn-navigation:not([data-compact='true']) > nav .level-2 > a:hover {
  color: var(--scope-color, #fff);
}

raqn-navigation:not([data-compact='true']) > nav .level-2,
raqn-navigation:not([data-compact='true']) > nav .level-2 > ul {
  display: inline-flex;
  flex-direction: column;
}

raqn-navigation:not([data-compact='true']) > nav .level-2 > ul {
  list-style: none;
  padding: 0;
}

raqn-navigation:not([data-compact='true']) > nav .level-1 > ul {
  display: flex;
  clip-path: inset(0% -100vw 100% -100vw);
  position: absolute;
  padding: 0;
  inset-block-start: var(--scope-header-height, 64px);
  inset-inline-start: calc((100vw - var(--scope-max-width)) / 2);
  transition: clip-path 0.4s ease-in-out;
  overflow: visible;
}

raqn-navigation:not([data-compact='true']) > nav .level-1 > ul .level-2 {
  padding-block: 1.2em;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
}

raqn-navigation:not([data-compact='true']) > nav .level-1 > ul::after {
  content: ' ';
  margin-inline: calc(-1 * ((100vw - var(--scope-max-width)) / 2));
  position: absolute;
  height: 100%;
  width: 100vw;
  inset-inline-start: 0;
  background: var(--scope-background, #fff);
  border-block-start: 1px solid var(--scope-color, #000);
  box-shadow: 0 0 30px #000;
  z-index: 1;
}

raqn-navigation:not([data-compact='true']) > nav .level-1:hover > ul {
  display: flex;
  clip-path: inset(0 -100vw -100% -100vw);
}

raqn-navigation:not([data-compact='true']) > nav .level-1:hover > ul > li {
  opacity: 1;
}
