footer {
  background-color: var(--scope-background-color);
  width: var(--scope-max-width);
  margin: 0 auto;
}

raqn-footer {
  background-color: var(--scope-background-color);
  border-top: 1px solid var(--scope-color);
  display: grid;
  grid-template-columns: auto 20vw;

  & :last-child {
    justify-self: end;
    align-self: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 1024px) {
      display: flex;
    }

    li {
      margin: 2em 0;

      a {
        padding: 10px 1.2em;
        color: var(--scope-color);

        @media screen and (min-width: 1024px) {
          border-inline-end: 1px solid var(--scope-color);
        }
      }

      &:last-child a {
        border-inline-end: none;
      }
    }
  }
}
