footer {
  background: var(--background-color);
}

raqn-footer {
  background: var(--background-color);
  border-top: 1px solid var(--text);
}

raqn-footer ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  min-width: 100%;
}

raqn-footer ul li a {
  color: var(--text);
}

@media screen and (min-width: 1024px) {
  raqn-footer ul li a {
    padding: 10px 1.2em;
    border-inline-end: 1px solid var(--text);
  }

  raqn-footer ul {
    display: flex;
    margin: 0;
  }

  raqn-footer ul li {
    margin: 2em 0;
  }

  raqn-footer > *:last-child {
    justify-self: end;
    align-self: center;
  }
}

raqn-footer ul li:last-child a {
  border-inline-end: none;
}
