@media screen and (max-width: 768px) {
  body {
    --scope-max-width: 100vw;
  }
}

img {
  width: 100%;
  object-fit: cover;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: none;
  background-color: var(--scope-background, #fff);
  padding: 0;
  margin: 0;
  width: 100%;

  --scope-header-height: 64px;

  @media screen and (min-width: 768px) {
    --scope-header-height: 160px;
  }
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
small,
strong,
sub,
sup,
tt,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
label,
legend,
caption {
  font-size: 100%;
  vertical-align: baseline;
  color: currentcolor;
}

header {
  --scope-background: var(--scope-header-background, #fff);
  --scope-color: var(--scope-header-color, #000);

  min-height: var(--scope-header-height, 64px);
  display: grid;
  background-color: var(--scope-header-background, #fff);
}

main > * {
  max-width: var(--scope-max-width, 100%);
  margin: 0 auto;
}

.full-width {
  --scope-outer-gap: calc((var(--scope-max-width) - 100vw) / 2);
  --scope-inner-gap: calc((100vw - var(--scope-max-width)) / 2);

  display: grid;
  width: 100vw;
  margin-inline-start: var(--scope-outer-gap);
  padding-inline: var(--scope-inner-gap);
  box-sizing: border-box;
}

main > div > div {
  background-color: var(--scope-background, #fff);
  color: var(--scope-color, #000);
  padding: var(--scope-padding, 0);
}

main > div > div > div {
  max-width: var(--scope-max-width, 100%);
  margin: var(--scope-margin, 0 auto);
  width: 100%;
}

.breadcrumbs {
  display: grid;
  grid-template-columns: var(--scope-grid-template-columns, 1fr);
  gap: var(--scope-gap, 20px);
  align-items: center;
  justify-items: start;
  min-height: var(--scope-font-size, 1.2em);
}

a {
  display: inline-flex;
  line-height: 1em;
  align-items: center;
  color: var(--scope-link-color, inherit);
  text-decoration: none;
  font-size: var(--scope-font-size, 1em);
}

a:hover {
  color: var(--scope-link-color-hover, inherit);
}

.raqn-grid {
  width: var(--scope-max-width, 100%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--grid-template-columns, 1fr);
  align-items: center;
  justify-items: start;
}

picture,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
  pointer-events: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: var(--scope-font-block-margins, 1em);
}

@media screen and (min-width: 1024px) {
  p,
  ul,
  ol,
  pre,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 45vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--scope-headings-color, var(--scope-color, currentColor));
}

#franklin-svg-sprite {
  display: none;
}
