raqn-card {
  background: var(--background, transparent);
  color: var(--text, #fff);
  display: grid;
  position: relative;
  grid-template-columns: var(--card-columns, 1fr);
  gap: var(--gap, 20px);
  padding: var(--padding, 20px 0);
}

raqn-card > div {
  gap: var(--gap, 20px);
  position: relative;
  background: var(--inner-background, transparent);
  padding: var(--inner-padding, 20px);
  border-block-start: var(--border-block-start, none);
  border-block-end: var(--border-block-end, none);
  border-inline-start: var(--border-inline-start, none);
  border-inline-end: var(--border-inline-end, none);
  aspect-ratio: var(--card-ratio, 16 / 9);
  overflow: hidden;
}

raqn-card > div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Make entire item clickable */
raqn-card div > div:first-child > p:first-child > em:only-child > a:only-child {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  z-index: 1;
}

raqn-card div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  inset-block-end: 0;
  inset-inline-end: 0;
}

raqn-card div > div > :where(raqn-button, raqn-icon):last-child {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

raqn-card div > div > raqn-icon:last-child {
  justify-content: flex-end;
}
