raqn-card {
  background: var(--scope-background, transparent);
  color: var(--scope-color, #fff);
  display: grid;
  position: relative;
  grid-template-columns: var(--card-columns, 1fr);
  gap: var(--scope-gap, 20px);
  padding: var(--scope-padding, 20px 0);
}

raqn-card > div {
  display: flex;
  gap: var(--scope-gap, 20px);
  position: relative;
  background: var(--scope-inner-background, transparent);
  padding: var(--scope-inner-padding, 20px);
  border-block-start: var(--scope-border-block-start, none);
  border-block-end: var(--scope-border-block-end, none);
  border-inline-start: var(--scope-border-inline-start, none);
  border-inline-end: var(--scope-border-inline-end, none);
}

raqn-card :where(a, button) {
  position: relative;
  z-index: 2;
}

/* Make entire item clickable */
raqn-card div > div:first-child > p > em:only-child > a:only-child {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  z-index: 1;
}

raqn-card div > div:first-child > p:has(> em:only-child > a:only-child) {
  margin: 0;
}


raqn-card div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  inset-block-end: 0;
  inset-inline-end: 0;
}

raqn-card div > div p:last-child:has(> raqn-button, raqn-icon) {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

raqn-card div > div p:last-child:has(> raqn-icon) {
  justify-content: flex-end;
}
