raqn-card {
    background-color: var(--scope-background, red);
    display: grid;
    grid-template-columns: var(--card-columns, 1fr);
    gap: var(--scope-gap, 20px);
}

raqn-card > picture {
    grid-column: span var(--card-columns, 1fr);
}