raqn-button {
  width: 100%;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: var(--justify, start);

  --button-padding-block: var(--button-padding-block, 10px);
  --button-padding-inline: var(--button-padding-inline, 20px);
  --border-radius: 0;
  --border-block-start: 1px solid transparent;
  --border-block-end: 1px solid transparent;
  --border-inline-start: 1px solid transparent;
  --border-inline-end: 1px solid transparent;
}

raqn-button > * {
  background: var(--accent, #000);
  color: var(--accentText, #fff);
  text-transform: none;
  border-radius: var(--border-radius, 0);
  border-block-start: var(--border-block-start, 1px solid transparent);
  border-block-end: var(--border-block-end, 1px solid transparent);
  border-inline-start: var(--border-inline-start, 1px solid transparent);
  border-inline-end: var(--border-inline-end, 1px solid transparent);
  overflow: hidden;
}

raqn-button > *:hover {
  background: var(--hover, #fff);
  color: var(--hoverText, #fff);
  border-color: currentcolor;
}

raqn-button a {
  color: var(--accentText, currentcolor);
  padding-block: var(--button-padding-block, 10px);
  padding-inline: var(--button-padding-inline, 20px);
  text-decoration: none;
}

raqn-button a:hover,
raqn-button a:visited,
raqn-button a:active {
  text-decoration: none;
}
