raqn-grid {
  /* Set to initial to prevent inheritance for nested grids */
  --grid-gap: initial;
  --grid-height: initial;
  --grid-width: initial;
  --grid-justify-items: initial;
  --grid-align-items: initial;
  --grid-justify-content: initial;
  --grid-align-content: initial;
  --grid-template-columns: 1fr 1fr;
  --grid-template-rows: initial;
  --grid-background: var(--background, black);
  --grid-color: var(--text, white);

  /* Option to add margins/paddings for grid to grid-items 
     Values are set to initial prevent unwanted inheritance. */
  --grid-item-margin-block-start: initial;
  --grid-item-margin-block-end: initial;
  --grid-item-margin-inline-start: initial;
  --grid-item-margin-inline-end: initial;
  --grid-item-padding-block-start: initial;
  --grid-item-padding-block-end: initial;
  --grid-item-padding-inline-start: initial;
  --grid-item-padding-inline-end: initial;

  display: grid;

  /* defaults to 2 columns */
  grid-template-columns: var(--grid-template-columns, 1fr 1fr);
  grid-template-rows: var(--grid-template-rows, auto);
  gap: var(--grid-gap, 20px);
  justify-items: var(--grid-justify-items);
  align-items: var(--grid-align-items);
  justify-content: var(--grid-justify-content);
  align-content: var(--grid-align-content);
  height: var(--grid-height);
  background: var(--grid-background);
  color: var(--grid-color);
  width: var(--grid-width);
}
