.section.grid {
  display: grid;
  grid-template-columns: var(--grid-template-columns, unset);
  grid-template-rows: var(--grid-template-rows, unset);
}

.section.grid .element {
  grid-column: var(--grid-column-start-position, auto) / var(--grid-column-end-position, auto);
  grid-row: var(--grid-row-start-position, auto) / var(--grid-row-end-position, auto);
  width: 100%;
  max-width: unset;
  background-color: var(--background-color, transparent);
  color: var(--text-color);
  margin: auto;
}

.section.grid .element .image-wrapper {
  margin: 0;
  padding: 0;
}

.section.grid .element img {
  width: 100%;
  height: auto;
}

.section.grid .element p {
  margin: 0;
  padding: var(--padding-vertical) var(--padding-horizontal);
}
